/* Add a white background color to the top navigation */
#topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
#topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
#topnav a:hover {
    background-color: gray;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
#topnav a.active {
    background-color: gray;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
#topnav .icon {
    display: none;
  }

  /* Right-aligned section inside the top navigation */
#topnav-right {
    float: right;
  }