/* Add a white background color to the top navigation */
#topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
#topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
  }
  
  /* Change the color of links on hover */
#topnav a:hover {
    background-color: gray;
    color: white;
  }
  
  /* Add an active class to highlight the current page */
#topnav a.active {
    background-color: gray;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
#topnav .icon {
    display: none;
  }

  /* Right-aligned section inside the top navigation */
#topnav-right {
    float: right;
  }



  #aboutme p1{
    clear: right;
    display: inline;
  }

  #aboutme img{
    align-items: right;
    text-align: right;
    float: right;
    width: 150px;
    height: 150px;
    margin-left: auto;
    display: block;
  }

  #skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
  }
  
 